<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>GET ADMIN</title>
    </head>

    <body>
        <p><strong>GET ADMIN:</strong></p>
        <br>

        <form method="GET" th:action="@{/admins/by-id}" th:object="${adminDTO}">
            <label for="id">GET BY ID:</label><br>
            <input id="id" name="id" placeholder="ADMIN ID" th:field="*{id}" type="text">
            <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
            <input type="submit" value="GET ADMIN">
        </form>
        <br>

        <form method="GET" th:action="@{/admins/by-email}" th:object="${adminDTO}">
            <label for="email">GET BY EMAIL:</label><br>
            <input id="email" name="email" placeholder="ADMIN EMAIL" th:field="*{email}" type="email">
            <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
            <input type="submit" value="GET ADMIN">
        </form>
    </body>
</html>
