<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>UPDATE ADMIN</title>
    </head>

    <body>
        <p><strong>UPDATE ADMIN:</strong></p>
        <br>

        <form method="GET" th:action="@{/admins/update-form}" th:object="${adminCredentialsForm}">

            <label for="email">EMAIL:</label><br>
            <input id="email" name="email" placeholder="EMAIL" th:field="*{email}" type="email">
            <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
            <br>
            <br>

            <label for="password">PASSWORD:</label><br>
            <input id="password" name="password" placeholder="PASSWORD" th:field="*{password}" type="password">
            <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
            <br>
            <br>

            <input type="submit" value="GO TO UPDATE FORM">
        </form>
    </body>
</html>
