<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NHS Admin Home</title>
    <link rel="shortcut icon" type="image/png" href="../assets/brand/n.png">
    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="/assets/styles/home-initial.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">

<img class="mb-4" src="../assets/brand/n.png" alt="" width="156" height="156">
<br>
<h1 class="h3 mb-3 font-weight-normal">Welcome to NHS Admin!</h1>

<div class="main-menu" th:fragment="categories">


    <div class="options">
        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Admin options"
           data-content=" <li> <a href='/admins/add-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Add Admin</a> </li>
           <br> <li> <a href='/admins/get-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Get Admin</a> </li>
           <br> <li><a href='/admins/update-search-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Update Admin</a> </li>
           <br> <li><a href='/admins/delete-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Delete Admin</a> </li>
        " data-html="true">Admin
        </a>

        <br>

        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Role options"
           data-content="<li> <a href='/roles/add-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Add Role</a> </li>
            <br> <li> <a href='/roles/get-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Get Role</a> </li>
            <br> <li><a href='/roles/update-search-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Update Role</a> </li>
            <br> <li><a href='/roles/delete-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Delete Role</a> </li>
            " data-html="true">Role
        </a>
        <br>

        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Institution options"
           data-content="<li> <a href='/medical-institutions/add-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Add Institution</a> </li>
            <br> <li> <a href='/medical-institutions/get-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Get Institution</a> </li>
            <br> <li><a href='/medical-institutions/update-search-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Update Institution</a> </li>
            <br> <li><a href='/medical-institutions/delete-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Delete Institution</a> </li>
            " data-html="true">Institution
        </a>
        <br>

        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Doctor options"
           data-content="<li> <a href='/doctors/add-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Add Doctor</a> </li>
            <br> <li> <a href='/doctors/get-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Get Doctor</a> </li>
            <br> <li><a href='/doctors/update-search-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Update Doctor</a> </li>
            <br> <li><a href='/doctors/delete-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Delete Doctor</a> </li>
            " data-html="true">Doctor
        </a>
        <br>

        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Nurse options"
           data-content="<li> <a href='/nurses/add-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Add Nurse</a> </li>
            <br> <li> <a href='/nurses/get-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Get Nurse</a> </li>
            <br> <li><a href='/nurses/update-search-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Update Nurse</a> </li>
            <br> <li><a href='/nurses/delete-form' class='btn btn-lg btn-secondary btn-block optionbutton'>Delete Nurse</a> </li>
            " data-html="true">Nurse
        </a>
        <br>

        <a tabindex="0" class="btn btn-lg btn-primary btn-block"
           role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover"
           data-content="And here's some amazing content. It's very engaging. Right?">4
        </a>
        <br>

    </div>


</div>

<p class="mt-5 mb-3 text-muted">&copy; 2020</p>

</body>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    }), $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>

</html>