<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WELCOME</title>
    </head>

    <body>
        <p><strong>WELCOME, ADMIN.</strong></p>

        <br>
        <br>

        <div th:fragment="categories">

            <p>ADMINS:</p>
            <a href="/admins/add-form">ADD ADMIN</a>
            <br>
            <br>
            <a href="/admins/get-form">GET ADMIN</a>
            <br>
            <br>
            <a href="/admins/update-search-form">UPDATE ADMIN</a>
            <br>
            <br>
            <a href="/admins/delete-form">DELETE ADMIN</a>

            <br>
            <br>
            <br>

            <p>ROLES:</p>
            <a href="/roles/add-form">ADD ROLE</a>
            <br>
            <br>
            <a href="/roles/get-form">GET ROLE</a>
            <br>
            <br>
            <a href="/roles/update-search-form">UPDATE ROLE</a>
            <br>
            <br>
            <a href="/roles/delete-form">DELETE ROLE</a>

        <br>
        <br>
        <br>

        <p>INSTITUTIONS:</p>
        <a href="/medical-institutions/add-form">ADD ROLE</a>
        <br>
        <br>
        <a href="/medical-institutions/get-form">GET ROLE</a>
        <br>
        <br>
        <a href="/medical-institutions/update-search-form">UPDATE ROLE</a>
        <br>
        <br>
        <a href="/medical-institutions/delete-form">DELETE ROLE</a>

        </div>

    </body>
</html>
