<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>NHS MANAGEMENT</title>
    </head>

    <body>

        <div th:include="home-initial :: categories"></div>

        <p>YOUR LAST "INSTITUTION" REQUEST'S RESULT:</p>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CUI</th>
                    <th>TYPE</th>
                    <th>ADDRESS</th>
                    <th>PHONE NUMBER</th>
                    <th>EMAIL</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${institution.id}"></td>
                    <td th:text="${institution.name}"></td>
                    <td th:text="${institution.cui}"></td>
                    <td th:text="${institution.type}"></td>
                    <td th:text="${institution.address}"></td>
                    <td th:text="${institution.phoneNoRo}"></td>
                    <td th:text="${institution.email}"></td>
                    <td th:text="${institution.website}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
