<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>UPDATE INSTITUTION</title>
    </head>

    <body>
        <p><strong>UPDATE INSTITUTION:</strong></p>
        <br>

        <form method="GET" th:action="@{/medical-institutions/update-form-by-id}" th:object="${institution}">
            <label for="id">ID:</label><br>
            <input id="id" name="id" placeholder="FIND BY ID" th:field="*{id}" type="id">
            <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
            <input type="submit" value="SEARCH">
        </form>
        <br>
        <br>

        <form method="GET" th:action="@{/medical-institutions/update-form-by-cui}" th:object="${institution}">
            <label for="cui">CUI:</label><br>
            <input id="cui" name="cui" placeholder="FIND BY CUI" th:field="*{cui}" type="text">
            <span th:errors="*{cui}" th:if="${#fields.hasErrors('cui')}"></span>
            <input type="submit" value="SEARCH">
        </form>
    </body>
</html>
