<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ADD DOCTOR</title>
</head>

<body>
<p><strong>ADD DOCTOR:</strong></p>
<br>

<form method="POST" th:action="@{/doctors}" th:object="${doctor}">

    <label for="cnp">CNP:</label><br>
    <input id="cnp" name="cnp" placeholder="CNP" th:field="*{cnp}" type="text">
    <span th:errors="*{cnp}" th:if="${#fields.hasErrors('cnp')}"></span>
    <br>
    <br>

    <label for="email">EMAIL:</label><br>
    <input id="email" name="email" placeholder="EMAIL" th:field="*{email}" type="email">
    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    <br>
    <br>

    <label for="firstName">First Name:</label><br>
    <input id="firstName" name="firstName" placeholder="FIRST NAME" th:field="*{firstName}" type="text">
    <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
    <br>
    <br>

    <label for="lastName">Last Name:</label><br>
    <input id="lastName" name="lastName" placeholder="LAST NAME" th:field="*{lastName}" type="text">
    <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
    <br>
    <br>

    <label for="licenseNo">License No:</label><br>
    <input id="licenseNo" name="licenseNo" placeholder="LICENSE NO" th:field="*{licenseNo}" type="text">
    <span th:errors="*{licenseNo}" th:if="${#fields.hasErrors('licenseNo')}"></span>
    <br>
    <br>

    <label for="phoneNoRo">ROMANIAN PHONE NUMBER:</label><br>
    <input id="phoneNoRo" name="phoneNoRo" placeholder="ROMANIAN PHONE NUMBER" th:field="*{phoneNoRo}"
           type="text">
    <span th:errors="*{phoneNoRo}" th:if="${#fields.hasErrors('phoneNoRo')}"></span>
    <br>
    <br>

<!--    <label for="specialties">SPECIALTIES:</label><br>-->
<!--    <input id="specialties" name="specialties" placeholder="SPECIALTIES" th:field="*{specialties}"-->
<!--           type="text">-->
<!--    <span th:errors="*{specialties}" th:if="${#fields.hasErrors('specialties')}"></span>-->
<!--    <br>-->
<!--    <br>-->


<!--    <label for="title">Title:</label><br>-->
<!--    <input id="title" name="title" placeholder="TITLE" th:field="*{title}"-->
<!--           type="text">-->
<!--    <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>-->
<!--    <br>-->
<!--    <br>-->


    <label for="specialties">SPECIALTIES:</label><br>
    <select id="specialties" name="specialties" placeholder="SPECIALTIES" th:field="*{specialties}">
        <option th:each="specialty : ${doctorSpecialties}" th:value="${specialty}" th:text="${specialty}"></option>
    </select>
    <span th:errors="*{specialties}" th:if="${#fields.hasErrors('specialties')}"></span>
    <br>
    <br>

    <label for="title">Title:</label><br>
    <select id="title" name="title" placeholder="TYPE" th:field="*{title}">
        <option th:each="doctorTitle : ${doctorTitles}" th:value="${doctorTitle}" th:text="${doctorTitle}"></option>
    </select>
    <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>
    <br>
    <br>

    <br>

    <input type="submit" value="ADD DOCTOR">
</form>
</body>
</html>