<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DELETE DOCTOR</title>
    </head>

    <body>
        <p><strong>DELETE DOCTOR:</strong></p>
        <br>

        <form method="POST" th:action="@{/doctors/delete-by-id}" th:object="${doctor}">
            <label for="id">ID:</label><br>
            <input id="id" name="id" placeholder="DELETE BY DOCTOR ID" th:field="*{id}" type="id">
            <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
            <input type="submit" value="DELETE DOCTOR">
        </form>
        <br>
        <br>

        <form method="POST" th:action="@{/doctors/delete-by-email}" th:object="${doctor}">
            <label for="email">DOCTOR EMAIL:</label><br>
            <input id="email" name="email" placeholder="DELETE BY DOCTOR EMAIL" th:field="*{email}" type="email">
            <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
            <input type="submit" value="DELETE DOCTOR">
        </form>
    </body>
</html>
