<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UPDATE DOCTOR</title>
</head>

<body>
<p><strong>UPDATE DOCTOR:</strong></p>
<br>

<form method="GET" th:action="@{/doctors/update-form-by-id}" th:object="${doctor}">
    <label for="id">ID:</label><br>
    <input id="id" name="id" placeholder="FIND BY ID" th:field="*{id}" type="id">
    <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
    <input type="submit" value="SEARCH">
</form>
<br>
<br>

<form method="GET" th:action="@{/doctors/update-form-by-email}" th:object="${doctor}">
    <label for="email">EMAIL:</label><br>
    <input id="email" name="email" placeholder="FIND BY EMAIL" th:field="*{email}" type="text">
    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    <input type="submit" value="SEARCH">
</form>
</body>
</html>