<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ADD ROLE</title>
    </head>

    <body>
        <p><strong>ADD ROLE:</strong></p>
        <br>

        <form method="POST" th:action="@{/roles}" th:object="${roleCreationDTO}">

            <label for="name">ROLE NAME:</label><br>
            <input id="name" name="name" placeholder="ROLE NAME" th:field="*{name}" type="text">
            <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            <br>
            <br>
            <br>

            <input type="submit" value="ADD ROLE">
        </form>
    </body>
</html>
