<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>UPDATE ROLE</title>
    </head>

    <body>
        <p><strong>UPDATE ROLE:</strong></p>
        <br>

        <form method="GET" th:action="@{/roles/update-form-by-id}" th:object="${roleDTO}">
            <label for="id">ID:</label><br>
            <input id="id" name="id" placeholder="FIND BY ROLE ID" th:field="*{id}" type="id">
            <span th:errors="*{id}" th:if="${#fields.hasErrors('id')}"></span>
            <input type="submit" value="SEARCH ROLE">
        </form>
        <br>
        <br>

        <form method="GET" th:action="@{/roles/update-form-by-name}" th:object="${roleDTO}">
            <label for="name">ROLE NAME:</label><br>
            <input id="name" name="name" placeholder="FIND BY ROLE NAME" th:field="*{name}" type="name">
            <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            <input type="submit" value="SEARCH ROLE">
        </form>
    </body>
</html>
