<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>UPDATE ROLE</title>
    </head>

    <body>
        <p><strong>UPDATE ROLE:</strong></p>
        <br>

        <form method="POST" th:action="@{/roles/updated-role}" th:object="${roleDTO}">

            <input id="id" name="id" th:field="*{id}" type="hidden">

            <label for="name">ROLE NAME:</label><br>
            <input id="name" name="name" placeholder="ROLE NAME" th:field="*{name}"
                   type="text">
            <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            <br>
            <br>
            <br>

            <input type="submit" value="UPDATE ROLE">
        </form>
    </body>
</html>
